[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
	branch = master
[submodule "lib/AsyncElegantOTA"]
	path = lib/AsyncElegantOTA
	url = https://github.com/ayushsharma82/AsyncElegantOTA.git
	branch = master
[submodule "unit_test/lib"]
	path = unit_test/lib
	url = https://github.com/catchorg/Catch2.git
	branch = devel
